<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css">
    <title>Inicio</title>
</head>
<body>
    <header>

        <section class="barra1">

            <img src="/images/logo.png" alt="logo que dice: Game Home">

            <div class="burger-menu">

            <i class="fas fa-bars"></i>
        </div>

            <div class="barra-busqueda" action="#" method="GET">



                
              <!--<div class="input"><p></p></div>-->  

              <input type="text" placeholder="buscar" required class="input">


                <div class="submit"><i class="fas fa-search"></i></div>
            </div>

            <div class="iconos">

               
             <a href=""><i class="fas fa-sign-in-alt"></i></a>
              <a href=""><i class="far fa-user"></i></a> 
              <a href=""><i class="fas fa-shopping-cart"></i></a> 

            </div>
        </section>



        <section class="barra2">

            <nav>
                <ul>
                    <ul>
                        <li><a href="#">PC armadas<i class="fas fa-microchip"></i></a></li>
                        <li><a href="#">Arma tu pc<i class="fas fa-desktop"></i>
                        </a></li>
                        <li><a href="#">Audio<i class="fas fa-microphone-alt"></i>
                        </a></li>
                        <li><a href="#">Sillas Gamer<i class="fas fa-gamepad"></i></a></li>
                    </ul>

                </ul>
            </nav>

        </section>



    </header>

   <main>

   

    <img src="images/imagen-gamer.png" alt="imagen gamer" class="imagen-gamer">

   





    <section class="categorias-destacado">


     <div class="destacado02"    ><img src="images/destacado.jpg" alt="" class="destacado"></div>


      

     <div class="categorias02">

    <img src="images/audio.jpg" alt="" class="categoria-uno">

    <img src="images/pc-gamer.jpg" alt="" class="categoria-dos">

    <img src="images/setreamer.jpg" alt="" class="categoria-tres">
</div>

    </section>


    <br><br><br>
    <h3 class="titulo">Lo mas destacado</h3>

<section class="que-estas-buscando">

   
    <article>
        <img src="images/mouse-franco.jpg" alt="foto mouse">

        <div class="nombre-precio-mas">

        <p class="nombre">Mouse Glorious Model D Minus - Matte Black</p>
        <p class="precio">$6000</p>
        <p class="ver-mas"><a href="#">Ver mas</a></p>
    </div>

    </article>

    <article>
        <img src="images/teclado-franco.jpg" alt="foto teclado">

        <div class="nombre-precio-mas">

        <p class="nombre">Teclado Mecanico Logitech G915 Lightspeed RGB</p>
        <p class="precio">$24590</p>
        <p  class="ver-mas"><a href="#">Ver mas</a></p>

            </div>

    </article>

    <article>
        <img src="images/silla-franco.jpg" alt="foto auriculares">

        <div class="nombre-precio-mas">


        <p class="nombre">Silla Gamer HHGears SM-115 Negro Hasta 90kg r</p>
        <p class="precio">$20000</p>
        <p  class="ver-mas"><a href="#">Ver mas</a></p>

            </div>

    </article>

    <article>
        <img src="images/monitor-franco.jpg" alt="foto auriculares">

        <div class="nombre-precio-mas">


        <p class="nombre">Monitor LG 20" 20MK400H-B VGA HDMI</p>
        <p class="precio">$21950</p>
        <p  class="ver-mas"><a href="#">Ver mas</a></p>

         </div> 

    </article>









    <article>
        <img src="images/mouse-franco.jpg" alt="foto mouse">

        <div class="nombre-precio-mas">

        <p class="nombre">Mouse Glorious Model D Minus - Matte Black</p>
        <p class="precio">$6000</p>
        <p class="ver-mas"><a href="#">Ver mas</a></p>
    </div>

    </article>

    <article>
        <img src="images/teclado-franco.jpg" alt="foto teclado">

        <div class="nombre-precio-mas">

        <p class="nombre">Teclado Mecanico Logitech G915 Lightspeed RGB</p>
        <p class="precio">$24590</p>
        <p  class="ver-mas"><a href="#">Ver mas</a></p>

            </div>

    </article>

    <article>
        <img src="images/silla-franco.jpg" alt="foto auriculares">

        <div class="nombre-precio-mas">


        <p class="nombre">Silla Gamer HHGears SM-115 Negro Hasta 90kg r</p>
        <p class="precio">$20000</p>
        <p  class="ver-mas"><a href="#">Ver mas</a></p>

            </div>

    </article>

    <article>
        <img src="images/monitor-franco.jpg" alt="foto auriculares">

        <div class="nombre-precio-mas">


        <p class="nombre">Monitor LG 20" 20MK400H-B VGA HDMI</p>
        <p class="precio">$21950</p>
        <p  class="ver-mas"><a href="#">Ver mas</a></p>

         </div> 

    </article>





</section>





<br><br><br><br><br><br>
<h3 class="titulo-ofertas">Ofertas</h3>
<section class="ofertas">

    <article>
        <img src="images/mouse-franco.jpg" alt="foto mouse">

        <div class="nombre-precio-mas">

        <p class="nombre">Mouse Glorious Model D Minus - Matte Black</p>
        <p class="precio">$6000</p>
        <p class="ver-mas"><a href="#">Ver mas</a></p>
    </div>

    </article>

    <article>
        <img src="images/teclado-franco.jpg" alt="foto teclado">

        <div class="nombre-precio-mas">

        <p class="nombre">Teclado Mecanico Logitech G915 Lightspeed RGB</p>
        <p class="precio">$24590</p>
        <p  class="ver-mas"><a href="#">Ver mas</a></p>

            </div>

    </article>

    <article>
        <img src="images/silla-franco.jpg" alt="foto auriculares">

        <div class="nombre-precio-mas">


        <p class="nombre">Silla Gamer HHGears SM-115 Negro Hasta 90kg r</p>
        <p class="precio">$20000</p>
        <p  class="ver-mas"><a href="#">Ver mas</a></p>

            </div>

    </article>

    <article>
        <img src="images/monitor-franco.jpg" alt="foto auriculares">

        <div class="nombre-precio-mas">


        <p class="nombre">Monitor LG 20" 20MK400H-B VGA HDMI</p>
        <p class="precio">$21950</p>
        <p  class="ver-mas"><a href="#">Ver mas</a></p>

         </div> 

    </article>

</section>



<section class="banners">


    <img src="images/banner1.jpg" alt="">
    <img src="images/banner2.jpg" alt="">



</section>





    <section class="marcas">

        

    </section>





   </main>

   <footer>


    <section class="seccion1">

        <img src="/images/logo.png" alt="logo">

        <div class="productos">

    <h5>Productos</h5>
       <p>Computadoras</p>
       <p>Auriculares</p>
       <p>Sillas</p>
       <p>Teclados</p>

    </div>


    <div class="contacto">

        <h5>Contacto</h5>
        <p>a@gmail.com</p>
        <p>123344556</p>

    </div>

        <div class="redes">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitch"></i>
        </div>




    </section>

    <section class="seccion2">
        <p>copyrigth -- derechos@</p>
        <p>Game Home 2021</p>
    </section>


   </footer>


</body>
</html>