<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</head>
<body>
    <form action="" method="post" id="form">
    <div class="formulario">
        <h1>iniciar sesion</h1>
            <div class="contenedor">
                <div class="logo">
                    <img src="../public/images/logo.jpeg" alt="icono-logo">
                </div>

            <!--nombre de usuario -->
                    <div class="input-contenedor">
                     <label for="nombre"></label>
                         <input type="text" placeholder="correo electronico" required>
                 </div>

                    <!--contraseña-->
            <div class="input-contenedor">
                <label for="contraseña"></label>
                <input type="password" placeholder="contraseña" required>
            </div>
            
            
                    <!--boton de inicio de sesión-->
                    <section class="boton">
                <button type="submit" value="iniciar sesion" class="button">iniciar sesion</button>
            </section>
            <div class="cambio-contraseña"></div>
            <a class="password-new" href="/new-password.html">¿Olvidaste tu contraseña?</a>
        </div>
        <hr>
    </div>
</form>
    
</body>