<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <title>Iniciar sesión</title>
    
</head>
<body>


    <!--COMIENZA EL HEADER-->
    <header>

        <section class="barra1">

            <div class="contenedor-logo">
                <a href="/"><img src="/images/logo.jpeg" alt="logo que dice: Game Home"></a>

             </div>
            <div class="burger-menu">

                <i class="fas fa-bars"></i>
            </div>
            
            
            <!--Search-->

            <div class="barra-busqueda" action="#" method="GET">



                
              <!--<div class="input"><p></p></div>-->  

                <input type="text" placeholder="buscar" required class="input">


                <div class="submit"><i class="fas fa-search"></i>
                </div>
            </div>

            <div class="iconos">

               
              <a href="/registro"><i class="fas fa-sign-in-alt"></i></a>
              <a href="/login"><i class="far fa-user"></i></a> 
              <a href="/carritoDeCompras"><i class="fas fa-shopping-cart"></i></a> 

            </div>

            <!--Para mobile search and shopping cart-->

            <div class="carrito">
 
              <a href="/carritoDeCompras"><i class="fas fa-shopping-cart"></i></a>

            </div>
        </section>      



        <section class="barra2">

            <nav>
                
                    <ul>
                        <li><a href="#">PC's/Noteboook</a></li>
                        <li><a href="#">Arma tu pc</a></li>
                        <li><a href="#">Audio & Video</a></li>
                        <li><a href="#">Sillas Gamer's</a></li>
                        <a href="/"><i class="fas fa-bell"></i></a>
                        <a href="/"><i class="fas fa-heart"></i></a>
                    </ul>
                    <!--<div class="iconos-barra2">
                    <i class="fas fa-bell"></i>
                    <i class="fas fa-heart"></i>
                    </div>-->
                
            </nav>

        </section>



    </header>

    <!--COMIENZA EL FORMULARIO-->

    <main>


    <form action="" method="post" id="form">
    <div class="formulario">
        <h1>Iniciar sesión</h1>
            <div class="contenedor">
                <div class="logo">
                    <a href="/"><img src="/images/logo.jpeg" alt="icono-logo"></a>
                </div>

            <!--nombre de usuario -->
                    <div class="input-contenedor">
                     <label for="nombre"></label>
                         <input type="text" placeholder="correo electronico" required>
                 </div>

                    <!--contraseña-->
            <div class="input-contenedor">
                <label for="contraseña"></label>
                <input type="password" placeholder="contraseña" required>
            </div>
            
            
                    <!--boton de inicio de sesión-->
                    <section class="boton">
                <button type="submit" value="iniciar sesion" class="button">Iniciar sesión</button>
            </section>
            <div class="cambio-contraseña"></div>
            <a class="password-new" href="/new-password.html" >¿Olvidaste tu contraseña?</a>
        </div>
        <div class="cambio-contraseña"></div>
            <a class="password-new" href="/registro" style="margin-right: 20px;">¿Ya tenes cuenta Inicia Sesion?</a>
        </div>
        <hr>
    </div>
</form>
    </main>
<!--COMIENZA EL FOOTER-->
<footer>


    <section class="seccion1">

        <img src="/images/logo.jpeg" alt="logo">

        <div class="productos">

    <h5>Productos</h5>
       <p>Computadoras</p>
       <p>Auriculares</p>
       <p>Sillas</p>
       <p>Teclados</p>

    </div>


    <div class="contacto">

        <h5>Contacto</h5>
        <p>gamehome@gmail.com</p>
        <p>113344556</p>

    </div>

    <div class="contacto">

        <h5>Mas informacion</h5>
        <p>Nosotros</p>
        <p>Preguntas frecuentes</p>
        <p>Ayuda</p>
        

    </div>




        <div class="redes">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitch"></i>
        </div>




    </section>

    <section class="seccion2">
        <p>Copyright © 2021 - GameHome </p>
        <p>Todos los derechos reservados</p>
    </section>


   </footer>
</body>