<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productCart.css">
    <title >Carrito de compras</title>
</head>
<body>
    <header>

        <section class="barra1">

            <div class="contenedor-logo">
                <a href="/"><img src="/images/logo.jpeg" alt="logo que dice: Game Home"></a>

             </div>
            <div class="burger-menu">

            <i class="fas fa-bars"></i>
        </div>

            <div class="barra-busqueda" action="#" method="GET">



                
              <!--<div class="input"><p></p></div>-->  

              <input type="text" placeholder="buscar" required class="input">


                <div class="submit"><i class="fas fa-search"></i></div>
            </div>

            <div class="iconos">

               
              <a href=""><i class="fas fa-sign-in-alt"></i></a>
              <a href="/login"><i class="far fa-user"></i></a> 
              <a href="/carritoDeCompras"><i class="fas fa-shopping-cart"></i></a> 

            </div>
        </section>      



        <section class="barra2">

            <nav>
                
                    <ul>
                        <li><a href="#">PC's/Noteboook</a></li>
                        <li><a href="#">Arma tu pc</a></li>
                        <li><a href="#">Audio & Video</a></li>
                        <li><a href="#">Sillas Gamer's</a></li>
                    </ul>
                    <div class="iconos-barra2">
                    <i class="fas fa-bell"></i>
                    <i class="fas fa-heart"></i>
                    </div>
                
            </nav>

        </section>



    </header>



    <main>
        <h1>Mi carrito</h1>
            <article class="articulo">
                <input type="button">
                <i class="trash-alt"></i>
                <div class="img-titulo-precio">
                <img class="contenedor-img" src="/images/mother-msi-pro.jpg" width="360" alt="Mother MSI">
                <h4 class="descripcion">MOTHER MSI B450M PRO</h4>
                <br>

                <p class="precio">$24.290</p>
                </div>

                <div class="boton-cantidad">
                <label for="texto-cantidad" class="cantidad">Cantidad</label>
                <input type="button" value="-">
                <input type="number" value="1" min="1" max="25">
                <input type="button" value="+">
                </div>
            </article>

            <article class="articulo">
                <i class="fas fa-trash-alt"></i>
                <div class="img-titulo-precio">
                <img class="contenedor-img" src="/images/notebook-lenovo-14-ideapad.jpg" width="360" alt="Notebook Lenovo">
                <h4 class="descripcion">NOTEBOOK LENOVO 14" IDEAPAD</h4>
                <p class="precio">$65.290</p>
                </div>
                <label for="cantidad">Cantidad</label>
                <input type="button" value="-">
                <input type="number" value="1" min="1" max="25">
                <input type="button" value="+">
            </article>

            <article class="articulo">
                <i class="fas fa-trash-alt"></i>
                <div class="img-titulo-precio">
                <img class="contenedor-img" src="/images/webcam-logitech-hd.jpg" width="360" alt="Notebook Lenovo">
                <h4 class="descripcion">WEBCAM LOGITECH C922</h4>
                <p class="precio">$7.290</p>
                </div>
                <label for="cantidad">Cantidad</label>
                <input type="button" value="-">
                <input type="number" value="1" min="1" max="25">
                <input type="button" value="+">
            </article>

            <article class="total">

                <h2 class="titulos">Resumen</h2>
                <p class="sub-total">Subtotal</p>
                <p class="envio">Envio</p>
                <h2 class="titulos">Total</h2>

            </article>
    </main> 
</body>
</html>