*{
    margin: 0px;

    box-sizing: border-box;
}

    /*MOBILE*/

/*---------HEADER--------*/
body{
    background: rgb(177,75,255);
    background: linear-gradient(0deg, rgba(177,75,255,1) 15%, rgba(0,0,0,1) 76%);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.barra1{
    width: 100%;
    /*border: solid 1px red;*/
    display: flex;
    justify-content: space-between;
    
}
.barra1 img{
   width: 15%;
  
}

.burger-menu i{
    text-align: right;
    font-size: 20px;
    background-color:  rgb(228, 227, 227);
    padding: 15px;
    border-radius: 4px;
    margin: auto;
}
.btn{
    position: absolute;
    top:0;
    right: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
}

.barra2 nav ul{
    display: none;
}

.barra1 .barra-busqueda {
    display: none;
}
.barra1 .iconos{
    display: none;
}

.iconos{
    color: white;
    background-color:#03264C;
}



/*------MAIN------*/




main .imagen-gamer{
    margin-top: 6px;
    width: 100%;
    height: 30vw;
}


body main .categorias-destacado{
    width: 90%;
    margin: auto;
    border: saddlebrown solid 1px;
}
body main .categorias-destacado .destacado02{
width: 100%;
}
body main .categorias-destacado .destacado02 img{
    width:90%;
   
}
body main .categorias-destacado .categorias02{
   
    width: 100%;
    
}

body main .categorias-destacado .categorias02 img{
    width: 100%;
    height: 85px;
}



h3.titulo{
    text-align: center;
    font-weight: normal;
    
    font-size: 23px;
    margin-top: 30px;
    margin-bottom: -30px;
}
h3.titulo-ofertas{
    text-align: center;
    font-weight: normal;
    
    font-size: 23px;
    margin-top: 30px;
    margin-bottom: -30px;
}
h3.titulo-ofertas{
    display: none;
}





body main .que-estas-buscando{
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border: solid 1px green;
}



body main .que-estas-buscando h3{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: normal;
}


body main .que-estas-buscando img{
   /* width: 80%;
    margin-left: 30px;
    border: solid 1px red;*/
    width: 100%;
    border-bottom: solid 1px rgb(228, 227, 227);
    padding: 10px;
}

body main .que-estas-buscando article{
    /*margin: auto;
    border: solid 1px red;
    width: 85%;
    margin-top: 10px;*/
    border: rgb(228, 227, 227) solid 1px;
    width: 20%;
    padding: 5px;
}

body main  .que-estas-buscando .nombre-precio-mas{
    padding: 10px;
}

body main .nombre-precio-mas .nombre{
    margin-bottom: 5px;
    font-size: 15px;
}

body main article .nombre-precio-mas .precio{
    margin-bottom: 8px;
    font-size: 19px;
}

body main article .nombre-precio-mas a{
    
    color: black;
    text-decoration: none;
    background-color: rgb(228, 227, 227);
    padding: 6px;
    font-size: 15px;
    border-radius: 2px;
    
}

body main article .nombre-precio-mas .ver-mas{
    text-align: center;
}




main .banners{
    width: 100%;
    border: solid 1px red;
    margin: auto;
    margin-top: 40px;
    margin-bottom: -85px;
}
main .banners img{
    width: 100%;
    margin-top: 1px;
    height: 90px;
}


main .ofertas{
    display: none;
}
/*------FOOTER---------*/
footer{
    margin-top: 20px;
}
footer .seccion1{
    padding: 10px;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    background-color: rgb(228, 227, 227);
}
footer .seccion1 img{
 
    display: none;
   
}
footer .seccion1 .productos,.contacto,.redes{
    margin-top: 30px;
    
}
footer .seccion1 h5{
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 10px;
}
footer .seccion1 p{
    margin-bottom: 7px;
    font-size: 19px;
}
footer .seccion1 .redes{
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 40px;
}

footer .seccion2{
    display: flex;
    padding: 7px;
    justify-content: space-between;
    background-color: black;
    color: rgb(228, 227, 227);

}


@media (min-width:700px){

    /*TABLET*/

     /*------HEADER---------*/

    .burger-menu{
        display: none;
    }
    .barra1 .barra-busqueda{
        display: flex;
        align-items: center;
    }
    .barra1 .barra-busqueda .input{
        
        margin-right: 5px;
        width: 220px;
        height: 27px;
        font-size: 12px;
        border: solid 2px black;
        padding: 6px;
        border-radius: 15px;
        text-align: center;
    }
    .barra1 .iconos{
        display: block;
        margin-top: 15px;
        width: 16%;
    }

    .barra1 .iconos i{
        font-size: 25px;
        margin-right: 7px;
        color:black;
    }
    
    .barra2 nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
       /*border: solid 1px red;*/
        padding: 10px;
        background-color:rgb(228, 227, 227) ;
    }
    .barra2 nav ul li {
        
        list-style: none;
    }
    .barra2 nav ul li a{
        text-decoration:none;
        color: black;
    }

/*------MAIN---------*/

    
   
body main .categorias-destacado{
    display: flex;
    justify-content: space-between;
    width: 90%;
   margin-top: 30px;
}

body main .categorias-destacado .destacado02{
    
    width: 50%;
    padding: 5px;

}
    body main .categorias-destacado .destacado02 img{
        border: solid 1px red;
       
    }
    body main .categorias-destacado .categorias02{
       width: 50%;
        display: flex;
        flex-wrap: wrap;
        padding: 6px;
    }
    
    body main .categorias-destacado .categorias02 .categoria-uno{
        
       align-self: flex-start;
       height: 12vw;
        
    }
    body main .categorias-destacado .categorias02 .categoria-dos{
        
        align-self: center;
        height: 12vw;
     }
     body main .categorias-destacado .categorias02 .categoria-tres{
        
        align-self: flex-end;
        height: 12vw;
     }




     body main .que-estas-buscando{
         display: flex;
         justify-content: space-around;
         flex-wrap: wrap;
         width: 90%;
        
     }
     body main .que-estas-buscando article{
         margin-top: 30px;
         width: 40%;
         margin-bottom: 5px;
        transition: all 0.4s;
    }
    body main .que-estas-buscando article:hover{
        box-shadow: 1px 0px 10px #01f174;
     }



     main .banners{
        display: flex;
        width: 90%;
        justify-content: space-between;

    }
    main .banners img{
        padding: 5px;
        width: 50%;
        height: 15vw;

    }






    /*------FOOTER---------*/
    footer{
        margin-top: 100px;
    }
    footer .seccion1 img{
        display: inline-block;
        margin-top: 22px;
    }
    footer .seccion1{
        
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding: 10px;
        
    }

    footer .seccion1 img{
        width: 20%;
        
        
    }

    footer .seccion2{
        display: flex;
        justify-content: space-between;
        
    }

    
}

@media (min-width:1000px){
    /*------MAIN---------*/
    
    main .producto-principal{
        
        display: flex;
        width: 75%;
        margin-top: 40px;
        margin-bottom: 80px;
    }
    main .producto-principal img{
        width: 70%;
    }
    
    main .caracteristicas{
        width: 55%;
        text-align: left;
        margin-bottom: 100px;
    }
    
    .ofertas-titulo{
        font-weight: normal;
        margin-left: 30px;
        font-size: 24px;
        text-decoration: underline;
    
    
    }
    
    
    main .ofertas{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 150px;
        
    }
    main .ofertas article img{
        width: 100%;
        border-bottom: solid 1px rgb(228, 227, 227);
        padding: 10px;
        
    }
    
    main .ofertas article{
        border: rgb(228, 227, 227) solid 1px;
        width: 20%;
        padding: 5px;
    }
    main .ofertas article .nombre-precio-mas{
        padding: 10px;
    }
    main .ofertas article .nombre-precio-mas .nombre{
        margin-bottom: 5px;
        font-size: 15px;
    }
    main .ofertas article .nombre-precio-mas .precio{
        margin-bottom: 8px;
        font-size: 19px;
    }
    
    main .ofertas article .nombre-precio-mas a{
        
        color: black;
        text-decoration: none;
        background-color: rgb(228, 227, 227);
        padding: 6px;
        font-size: 15px;
        border-radius: 2px;
        
    }
    main .ofertas article .nombre-precio-mas .ver-mas{
        text-align: center;
    }



    body main .que-estas-buscando{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
       
    }
    body main .que-estas-buscando article{
        width: 22%;
        margin-bottom: 5px;
    }

    h3.titulo-ofertas{
        display: block;
    }

    
    }

