*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(127,127,255);
    background: linear-gradient(0deg, rgba(127,127,255,1) 8%, rgba(2,0,36,1) 97%);
    font-family: Montserrat, sans-serif;;
    color: white;
}

.barra1{
    width: 100%;
    height: 110px;
    /*border: solid 1px red;*/
    display: flex;
    justify-content: space-between;
    
    
}



.barra1 img{
   width: 100%;
   height: 109px;
   
   
}

.contenedor-logo{
    width: 200px;
    height: 109px;
    bottom: 1px;

}

.burger-menu i{
    text-align: right;
    font-size: 20px;
    padding: 15px;
    border-radius: 4px;
    margin: auto;
}
.btn{
    position: absolute;
    top:0;
    right: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
}

.barra2 nav ul{
    display: none;
}

.barra1 .barra-busqueda {
    display: none;
}
.barra1 .iconos{
    display: none;
}

.iconos{
    color: white;
    
}
.iconos-barra2 i{
    display: none;

}

/*main*/

.articulo{
    background-color:rgba(32, 42, 129, 0.253);
    border: 1px  #8d53fd;
    width: 95%;
    margin: auto;
    margin-bottom: 5px;
    padding: 10px;

}
/*Imagen, título y precio del producto*/
.img-titulo-precio{
    display: flex;

}
.precio{

    align-self: center;
    border-bottom-style: inset;
}

main article img{
    display: flex;
    margin-left: 65px;
    width: 65px;
    background: #87f234;
    
}
.contenedor-img{

    margin-left: 15px;
    width: 20%;
}
.descripcion{
    font-size: 14px;
    text-align: center;
    width: 40%;
    /*border-right: 1px solid white;*/

}
.precio{
    font-size:14px ;
    text-align: left;
    
}

.boton-cantidad{
    
    margin-top: 15px;
    left: 15px;
    text-align: center;
}
article i{
    color: #87f234;
    width: 25px;
    height: 10px;
    align-self: left;
    

}

.seguir-comprando{
    
    align-self: flex-end;
    padding: 5px;
    margin: auto;
    margin-bottom: 5px;
}
.seguir{

    background-color: #87f234;
    margin-right: 4px;
}
.comprando{
    background-color: #87f234;
    width: 95%;
    
    margin-bottom: 5px;
    padding: 10px;
}

/*-contenedor Total--*/

.total{
    border: 1px solid white;
    margin:5%;
    left: 5%;
    


}
.titulos{

    background: rgba(127,127,255,1);
    margin-bottom: 2%;
    
}
.envio{
    margin-bottom:2%;
    font-size: 18px;
    

}
.resultados{
    text-align: left;
    background-color: rgba(32, 42, 129, 0.253);
    margin-bottom: 2%;
    color:skyblue;
}
.boton-comprar{
    text-align: center;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
    border: 1px solid black;
    padding: 6px;
    font-size: 15px;
    border-radius: 3px;
    text-decoration: none;
    transition-property: background-color, font-size; 
    transition-duration: 0.3s;
}

.boton-comprar:hover{
    background-color: #FFF;
    font-size: 18px;
    box-shadow: 1px 0px 10px #00ff7b8c;
}


/*------FOOTER---------*/
footer{
    margin-top: 20px;
}
footer .seccion1{
    padding: 5px;
    margin-top: 100px;
    
    margin-right: 5px;
    width: 100%;
    text-align: center;
    /*background-color: rgb(228, 227, 227);*/
    border-top: solid 1px rgb(228, 227, 227);
}
footer .seccion1 img{
 
    display: none;
   
}

footer .seccion1 .productos,.contacto,.redes{
    margin-top: 30px;
   
    
}
footer .seccion1 .productos,.contacto{
   margin-left: 12px;

}
footer .seccion1 h5{
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: justify;
}
footer .seccion1 p{
    margin-bottom: 7px;
    font-size: 15px;
    text-align: justify;
}
footer .seccion1 .redes{
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 40px;
}

footer .seccion2{
    display: flex;
    padding: 7px;
    justify-content: space-between;
    background-color: black;
    color: rgb(228, 227, 227);

}




@media (min-width:700px){

    /*TABLET*/

     /*------HEADER---------*/

    .burger-menu{
        display: none;
    }
    .barra1 .barra-busqueda{
        display: flex;
        align-items: center;

    }
    .barra1 .barra-busqueda .input{
        
        margin-right: 5px;
        width: 25vw;
        height: 30px;
        font-size: 12px;
        border: solid 2px#87f234;
        padding: 6px;
        border-radius: 15px;
        text-align: center;
    }
    .barra1 .iconos{
        display: block;
        margin-top: 15px;
        width: 16%;
        
    }

    .barra1 .iconos i{
        font-size: 25px;
        margin-right: 20px;
        margin-top: 28px;
        color:#87f234;
        

    }

   .barra2 i{

        font-size: 15px;
        color:#87f234;
    }

    
    .barra2 nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
       /*border: solid 1px red;*/
        padding: 10px;
        background:#000;
    }
    .barra2 nav ul li {
        
        list-style: none;
    }
    .barra2 nav ul li a{
        text-decoration:none;
        color: #FFF;
    }
    .iconos-barra2 i{
        border: 1px solid wheat;
        display: block;

    }
/*------MAIN---------*/

    
   







    
}

@media (min-width:1000px){
   




    /*------FOOTER----------*/

    
    }